$image-gap: 32px;
.layout-3-column >* {
    flex-basis: 30%;
}
.about-us {
    padding: 30px 0 100px 0;
    @include media-mobile {
        padding: 40px 21px;
    }
}
.about-us__description {
    margin: 0 0 45px;
    @include media-mobile {
        margin: 0 0 27px; 
    }
}
.about-us__title {
    margin: 0 0 14px;
}
.employee-container {
    padding-right: $image-gap;
}

.employee {
    display: flex;
    padding: 35px;
    position: relative;
    width: calc(30% - $image-gap);
    box-sizing: border-box;
}

.employee__name {
    margin: 0;
}
.employee__photo {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    width: 98px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 20;
    right: -$image-gap;
}
.block-shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.employee__contact {
    color: $color-link;
    text-decoration: none;
    @include font ($size: 1.4rem, $weight: normal);
    &:hover {
        text-decoration: underline;
    }
}