.contact-us {
    background: $color-background;
    padding: 62px 82px;
    @include media-mobile {
        padding: 10px 0 49px;
    }
}
.contact-us__line {
    margin-bottom: 19px;
    display: inline-block;
    @include media-mobile {
        width: 70%;
    }
}
.contact-us__form {
    input, textarea {
        border: none;
        border-radius: 5px;
        background: $color-light;
        padding: 10px 21px;
        resize: none;
        @include media-mobile {
            margin-bottom: 10px;
            width: 70%;
        }
    }
    textarea {
        resize: none;
        width: 100%;
        height: 160px;
        @include media-mobile {
            width: 70%;
        }
    }
}
.contact-us__button {
    width: 117px;
    @include media-mobile {
        padding: 0 101px;
    }
}
.contact-us__link {
    margin: 0 0 19px;
    margin-left: 11px;
    color: $color-text;
    text-decoration: none;
    @include font($size: 2.5rem, $height: 2.6rem, $weight: normal);
    @include media-tablet {
        justify-content: center;
    }
    &:hover {
            text-decoration: underline;
        }
    @include media-mobile {
        font-size: 1rem;
        margin-left: 5px;
    }
}
.layout-2-column > * {
    flex-basis: 88%;
}