.tools__wrapper {
    padding-bottom: 90px;
    background: url("../img/backgrounds/tools-bg.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    @include media-mobile {
        padding-bottom: 0;
    }
}
.tools__button {
    margin-top: 60px;
    text-align: center;
}
.tools__title {
    max-width: 462px;
    margin:  auto;
    text-align: center;
    margin-bottom: 70px;
    @include media-mobile {
        margin-bottom: 43px;
    }
}