.footer {
    padding: 60px 0 70px;
    @include media-mobile {
        padding: 30px 0 35px;
    }
}
.footer__wrapper {
    display: flex;
    @include media-mobile {
        flex-direction: column;
    }
}
.footer-navigation {
    flex-grow: 1;
    padding-left: 152px;
    @include media-mobile {
        padding: 0;
        flex-direction: column;
    }
}
.footer-navigation__title {
    margin: 0 0 15px;
}
.footer-navigation__links {
    list-style: none;
    padding: 0;
    @extend %font-add !optional;
    a {
        color: $color-text;
        @extend %transition;
        @include font($size: 1.6rem, $height: 3.6rem, $weight: normal);
        text-decoration: none;
        &:hover {
            color: $color-primary;
        }
    }
}
